NEXT_PUBLIC_SUPABASE_URL=https://davhnwvvzsncvbcjbwtb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_tJ1z9iieCm0T0Bs27-5zmQ_qRjDzbjk
APP_ACCESS_PASSWORD=
DATABASE_URL="postgresql://wangbanghouse:wangbanghouse_dev_password@localhost:5432/wangbanghouse"
DEV_HOUSEHOLD_ID=""
DEV_WEDDING_PROJECT_ID=""
